html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider__img {
  margin-top: 2rem;
  position: relative;
}

.slider__img .slider__text {
  position: absolute;
  top: 43%;
  left: 25%;
  text-align: center;
}

.slider__img .slider__text .slider--header {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  line-height: 5rem;
}

.slider__img .slider__text p {
  color: #911818;
  font-family: "Rokkitt", serif;
}

.slider__img img {
  width: 80%;
  height: 30%;
  margin: auto;
  text-align: center;
  background-size: cover;
  display: block;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  border: 1px solid #888888;
}

body {
  background-color: #f2f2f2;
}

.navbar--top {
  width: 100%;
  background-color: #08080A;
  color: #A5A5A5;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
}

.navbar--top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.navbar--top ul li:first-child {
  margin-right: auto;
}

.navbar--top ul a {
  color: white;
  text-decoration: none;
}

.navbar--top ul .navbar__logo {
  border: none;
  width: 40%;
  display: inline-block;
  border: 4px inset #A5A5A5;
  background-color: #f2f2f2;
}

.navbar--top ul .navbar__logo:hover {
  background-color: #F7C911;
}

.navbar--top ul .navbar__links {
  display: inline-block;
  padding: 0 5.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar--top ul .navbar__links a {
  border-bottom: 6px solid #911818;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.navbar--top ul .navbar__links a:hover {
  border-bottom: 6px solid #F7C911;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.products--header {
  width: 100%;
  font-family: "Cinzel Decorative", cursive;
  font-size: 38px;
  text-align: center;
  background-color: white;
  padding: 3% 0;
}

.productsPage--filter {
  height: 90%;
  width: 9%;
  margin: none;
}

.productsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.productsPage .productsCard {
  border: 3px solid red;
  width: 30%;
}

.productsPage .productsCard div img {
  width: 50%;
}

.contactPage h1 {
  width: 100%;
  font-family: "Cinzel Decorative", cursive;
  font-size: 38px;
  text-align: center;
  background-color: white;
  padding: 3% 0;
}

.contactPage .contactPage__doubleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactPage .contactPage__doubleContainer .contactPage__container {
  margin: 3rem;
  min-width: 43%;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed {
  min-height: 90%;
  padding: 25px 30px 10px 30px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 #233A6B;
          box-shadow: 0 2px 4px 0 #233A6B;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed h2 {
  font-family: "Rokkitt", serif;
  font-size: 32px;
  margin: 0 0 10px;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed .contact--answer {
  background-image: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(#f2f2f2));
  background-image: linear-gradient(to right, #f2f2f2, #f2f2f2);
  padding: 20px;
  display: none;
  color: black;
  margin-bottom: 5px;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed .contact--question {
  margin-bottom: 10px;
  display: block;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed .contact--question:hover {
  margin-bottom: 0;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__boxed .contact--question:hover + p {
  display: block;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form {
  min-height: 90%;
  padding: 25px 30px 10px 30px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 #233A6B;
          box-shadow: 0 2px 4px 0 #233A6B;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form h2 {
  font-family: "Rokkitt", serif;
  font-size: 32px;
  margin: 0 0 10px;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #fName, .contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #lName, .contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #email, .contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #tel {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid #233A6B;
  margin-bottom: 1rem;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #dropdown {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 1rem;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #submit {
  width: 100%;
  padding: 15px 0;
}

.contactPage .contactPage__doubleContainer .contactPage__container .contactPage__form form #submit:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: bold;
}

.footer--bottom {
  width: 100%;
  background-color: #08080A;
  color: #A5A5A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer--bottom .footer--card {
  padding: 2rem;
  max-width: 25%;
  text-align: left;
}

.footer--bottom .footer--card .footer__img {
  text-align: center;
}

.footer--bottom .footer--card h2 {
  font-family: "Cinzel", serif;
  color: #F7C911;
  text-align: center;
  margin-bottom: 1rem;
}

.footer--bottom .footer--card p {
  font-family: "Rokkitt", serif;
  font-weight: bold;
}

.footer--bottom .footer--card img {
  height: 30px;
  padding: 0 10px;
}

.footer--bottom .footer--card form .footer__search--text {
  height: 20px;
  background-color: #f2f2f2;
  width: 300px;
}

.footer--bottom .footer--card form .footer__search--button {
  height: 20px;
  background-color: #233A6B;
  color: white;
}
/*# sourceMappingURL=app.css.map */